In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


# Load the dataset
data = pd.read_csv('C:/Users/user/Desktop/Kifiya AI Mastery Traning/Data/Processed/merged_data.csv')

# Display the first few rows
data.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments,source
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN,benin-malanville.csv
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN,benin-malanville.csv
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN,benin-malanville.csv
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN,benin-malanville.csv
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN,benin-malanville.csv

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1576800 entries, 0 to 1576799
Data columns (total 20 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Timestamp      1576800 non-null  object
 1   GHI            1576800 non-null  float64
 2   DNI            1576800 non-null  float64
 3   DHI            1576800 non-null  float64
 4   ModA           1576800 non-null  float64
 5   ModB           1576800 non-null  float64
 6   Tamb           1576800 non-null  float64
 7   RH             1576800 non-null  float64
 8   WS             1576800 non-null  float64
 9   WSgust         1576800 non-null  float64
 10  WSstdev        1576800 non-null  float64
 11  WD             1576800 non-null  float64
 12  WDstdev        1576800 non-null  float64
 13  BP             1576800 non-null  int64
 14  Cleaning       1576800 non-null  int64
 15  Precipitation  1576800 non-null  float64
 16  TModA          1576800 non-null  float64
 17  TModB          1576800 non-null  float64
 18  Comments       0 non-null        float64
 19  source         1576800 non-null  object
dtypes: float64(16), int64(2), object(2)
memory usage: 240.6+ MB

In [3]:
data.describe()

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,0.0
mean,2.243573e+02,1.449408e+02,1.151746e+02,2.231257e+02,2.155223e+02,2.741696e+01,6.298333e+01,1.878440e+00,2.576763e+00,4.649840e-01,1.494072e+02,8.771398e+00,9.899963e+02,8.079655e-04,2.697615e-03,3.339823e+01,3.286939e+01,NaN
std,3.181073e+02,2.453781e+02,1.580602e+02,3.154732e+02,3.049439e+02,5.131024e+00,2.854366e+01,1.536357e+00,1.961275e+00,2.904002e-01,1.039399e+02,6.790689e+00,1.046797e+01,2.841326e-02,3.803610e-02,1.290953e+01,1.238889e+01,NaN
min,-1.950000e+01,-7.800000e+00,-1.790000e+01,0.000000e+00,0.000000e+00,1.100000e+01,2.100000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.680000e+02,0.000000e+00,0.000000e+00,9.000000e+00,8.100000e+00,NaN
25%,-2.200000e+00,-2.000000e-01,-1.400000e+00,0.000000e+00,0.000000e+00,2.370000e+01,3.860000e+01,6.000000e-01,1.100000e+00,4.000000e-01,5.330000e+01,2.900000e+00,9.770000e+02,0.000000e+00,0.000000e+00,2.370000e+01,2.370000e+01,NaN
50%,1.200000e+00,0.000000e+00,1.400000e+00,4.100000e+00,4.000000e+00,2.680000e+01,6.900000e+01,1.800000e+00,2.400000e+00,5.000000e-01,1.803000e+02,9.000000e+00,9.940000e+02,0.000000e+00,0.000000e+00,2.830000e+01,2.800000e+01,NaN
75%,4.244000e+02,2.270000e+02,2.190000e+02,4.111000e+02,3.973000e+02,3.100000e+01,8.860000e+01,2.800000e+00,3.600000e+00,6.000000e-01,2.342000e+02,1.290000e+01,9.990000e+02,0.000000e+00,0.000000e+00,4.260000e+01,4.190000e+01,NaN
max,1.499000e+03,1.004500e+03,8.920000e+02,1.507000e+03,1.473000e+03,4.380000e+01,1.000000e+02,1.950000e+01,2.660000e+01,4.700000e+00,3.600000e+02,9.940000e+01,1.006000e+03,1.000000e+00,2.500000e+00,8.100000e+01,9.460000e+01,NaN

In [4]:
summary_stats = data.describe()
print(summary_stats)

                GHI           DNI           DHI          ModA          ModB  \
count  1.576800e+06  1.576800e+06  1.576800e+06  1.576800e+06  1.576800e+06
mean   2.243573e+02  1.449408e+02  1.151746e+02  2.231257e+02  2.155223e+02
std    3.181073e+02  2.453781e+02  1.580602e+02  3.154732e+02  3.049439e+02
min   -1.950000e+01 -7.800000e+00 -1.790000e+01  0.000000e+00  0.000000e+00
25%   -2.200000e+00 -2.000000e-01 -1.400000e+00  0.000000e+00  0.000000e+00
50%    1.200000e+00  0.000000e+00  1.400000e+00  4.100000e+00  4.000000e+00
75%    4.244000e+02  2.270000e+02  2.190000e+02  4.111000e+02  3.973000e+02
max    1.499000e+03  1.004500e+03  8.920000e+02  1.507000e+03  1.473000e+03

               Tamb            RH            WS        WSgust       WSstdev  \
count  1.576800e+06  1.576800e+06  1.576800e+06  1.576800e+06  1.576800e+06
mean   2.741696e+01  6.298333e+01  1.878440e+00  2.576763e+00  4.649840e-01
std    5.131024e+00  2.854366e+01  1.536357e+00  1.961275e+00  2.904002e-01
min    1.100000e+01  2.100000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    2.370000e+01  3.860000e+01  6.000000e-01  1.100000e+00  4.000000e-01
50%    2.680000e+01  6.900000e+01  1.800000e+00  2.400000e+00  5.000000e-01
75%    3.100000e+01  8.860000e+01  2.800000e+00  3.600000e+00  6.000000e-01
max    4.380000e+01  1.000000e+02  1.950000e+01  2.660000e+01  4.700000e+00

                 WD       WDstdev            BP      Cleaning  Precipitation  \
count  1.576800e+06  1.576800e+06  1.576800e+06  1.576800e+06   1.576800e+06
mean   1.494072e+02  8.771398e+00  9.899963e+02  8.079655e-04   2.697615e-03
std    1.039399e+02  6.790689e+00  1.046797e+01  2.841326e-02   3.803610e-02
min    0.000000e+00  0.000000e+00  9.680000e+02  0.000000e+00   0.000000e+00
25%    5.330000e+01  2.900000e+00  9.770000e+02  0.000000e+00   0.000000e+00
50%    1.803000e+02  9.000000e+00  9.940000e+02  0.000000e+00   0.000000e+00
75%    2.342000e+02  1.290000e+01  9.990000e+02  0.000000e+00   0.000000e+00
max    3.600000e+02  9.940000e+01  1.006000e+03  1.000000e+00   2.500000e+00

              TModA         TModB  Comments
count  1.576800e+06  1.576800e+06       0.0
mean   3.339823e+01  3.286939e+01       NaN
std    1.290953e+01  1.238889e+01       NaN
min    9.000000e+00  8.100000e+00       NaN
25%    2.370000e+01  2.370000e+01       NaN
50%    2.830000e+01  2.800000e+01       NaN
75%    4.260000e+01  4.190000e+01       NaN
max    8.100000e+01  9.460000e+01       NaN

In [5]:
missing_values = data.isnull().sum()
print(missing_values)

Timestamp              0
GHI                    0
DNI                    0
DHI                    0
ModA                   0
ModB                   0
Tamb                   0
RH                     0
WS                     0
WSgust                 0
WSstdev                0
WD                     0
WDstdev                0
BP                     0
Cleaning               0
Precipitation          0
TModA                  0
TModB                  0
Comments         1576800
source                 0
dtype: int64

In [6]:
data.drop('Comments', axis=1, inplace=True)

In [13]:
import seaborn as sns

sns.boxplot(data=data[['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust']])
plt.show()

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
data['time'] = pd.to_datetime(data['time'])
data.set_index('time', inplace=True)

plt.figure(figsize=(14, 7))
plt.plot(data['GHI'], label='GHI')
plt.plot(data['DNI'], label='DNI')
plt.plot(data['DHI'], label='DHI')
plt.plot(data['Tamb'], label='Tamb')
plt.legend()
plt.show()

In [ ]:
cleaned_data = data[data['Cleaning'] == 1]
not_cleaned_data = data[data['Cleaning'] == 0]

plt.figure(figsize=(14, 7))
plt.plot(not_cleaned_data['ModA'], label='ModA - Before Cleaning')
plt.plot(cleaned_data['ModA'], label='ModA - After Cleaning')
plt.legend()
plt.show()

In [ ]:
correlation_matrix = data[['GHI', 'DNI', 'DHI', 'TModA', 'TModB', 'WS', 'WSgust', 'WD']].corr()
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.show()

In [ ]:
plt.figure(figsize=(8, 8))
plt.subplot(projection='polar')
plt.scatter(data['WD'] * np.pi / 180, data['WS'])
plt.title('Wind Speed and Direction')
plt.show()

In [ ]:
sns.scatterplot(x='RH', y='Tamb', data=data)
plt.title('Relative Humidity vs Temperature')
plt.show()

In [ ]:
data[['GHI', 'DNI', 'DHI', 'WS', 'Tamb']].hist(bins=30, figsize=(10, 8))
plt.show()

In [ ]:
from scipy.stats import zscore

data['z_score'] = zscore(data['GHI'])
outliers = data[data['z_score'].abs() > 3]
print(outliers)

In [ ]:
plt.figure(figsize=(10, 6))
plt.scatter(data['GHI'], data['Tamb'], s=data['WS']*10, c=data['RH'], alpha=0.5)
plt.xlabel('GHI')
plt.ylabel('Tamb')
plt.title('GHI vs Tamb vs WS with Bubble Size representing RH')
plt.colorbar(label='Relative Humidity')
plt.show()

In [ ]:
# Drop rows where Comments are null if Comments is necessary
data.dropna(subset=['Comments'], inplace=True)

# Replace missing values in GHI, DNI, and DHI with mean or median
data['GHI'].fillna(data['GHI'].mean(), inplace=True)
data['DNI'].fillna(data['DNI'].mean(), inplace=True)
data['DHI'].fillna(data['DHI'].mean(), inplace=True)

# Handling negative values where only positive should exist
data[['GHI', 'DNI', 'DHI']] = data[['GHI', 'DNI', 'DHI']].clip(lower=0)